<!DOCTYPE html>
<html>
  <head>
    <title>
      {% block title %}
      {% endblock %}
    </title>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <header>
      <div>
        <a href="/">Main</a>
        {% if !logged_in %}
        <a href="/register">Register</a>
        <a href="/login">Login</a>
        {% endif %}
        {% if logged_in %}
        <a href="/item/new">New advert</a>
        <a href="/profile">Profile</a>
        <a href="/logout">Logout</a>
        {% endif %}
      </div>
    </header>
    {% block body %}
    {% endblock %}
  </body>
</html>
